/* Task 1 */
p{
    color: green;
    text-align: center;
}

p:nth-child(odd){
    color:red;
}

p:nth-child(2){
    color:purple;
}

a{
    color: blue;
}

ul li a
{
    color: pink;
}

div > ul > li > a{
    color: green;
}

ul ul li{
    list-style-type: none;
}

ul li:last-child ul li{
    list-style-type: square;
}

ul li:last-child ul.last-sublist li a{
    text-decoration: none;
}


/* Task 2 */
h1 + p{
    font-size: 20px;
}

p code{
    color: red;
}

p + code{
    color: pink;
}

code{
    white-space: pre;
    font-family: monospace;
}


/* Task 3 */
table{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    width: 140px;
    height: 70px;
    text-align: center;
    border: 1px solid black;
    font-size: 20px
}

th{
    width: 130px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    font-size: 18px;
}

th:nth-child(1){
    background-color: #F1DCDB;
    font-size: 15px;
}
th:nth-child(2){
    background-color: #E5B6B6;
}
th:nth-child(3){
    background-color: #D89594;
}
th:nth-child(4){
    background-color: #943634;
}
th:nth-child(5){
    background-color: #642424;
}
th:nth-child(n+3){
    color:white;
}

tr > td:first-child{
    color: white;
    background-color: #C0504E;
    font-size: 20px;
}

tr:nth-child(odd){
    background-color: #F1DCDB;
}

tr:nth-child(even){
    background-color: #E5B6B6;
}
